.SETnonnavbar{ 
    flex: 1;
    margin-left: 15%;
    width: 100%;
    background-color: white;
    border-radius:5% 0% 0% 5%;
    height: 100vh;
    width: 85%;
    
}
.SETheader p{
    font-size: 25px;

}
.SETheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    color: #0A7273;
    width: 87%;
    margin-left: 8%;
    margin-top: 20px;

}
#SETsend{
    background-color: #0A7273;
    color:white;
    font-size: 15px;
    border:none;
    padding: 20px 0px;
}
.SETdate{
  
    padding-right: 50px;
    position: relative;
}
.SETcalendar{
    position: absolute;
    top: 20%;
    right: 0%;
}
/* .SETcalendar img{
    width: 40px;
} */

.SETmainbody{
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top:6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.SETdiv1{
width: 95%;
height: 15%;
display: flex;
align-items: center;
background-color: whitesmoke;
border-radius: 10px;
box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;

             transform: translateX(150%);


}
.SETdiv1 #D1{
    font-size: 20px;
    margin-left: 5%;
}
.SETdiv2{
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
border-radius: 10px;
box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;
             transform: translateX(150%);
    
    }
    .SETdiv2 #D1{
        font-size: 30px;
       margin-right:60%;
       
    }
.SETdiv2 input{
    width: 30px;
    height: 30px;
    accent-color: #0A7273;
}


.SETdiv3{
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
border-radius: 10px;
box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;
             transform: translateX(150%);
    
    }
    .SETdiv3 #D1{
        font-size: 20px;
        margin-left: 5%;
    }
    #D1 a{
        text-decoration: none;
        color: black;
      }
      a{
        text-decoration: none;
        color: black;
      }

      .SETheading {
        display: flex;
        flex-direction: row;
        width: 75%;
        align-items: center;
        margin-top: 7%;
      }
    
      .SETheading svg {
        height: 100%;
        width: 5%;
      }
    
      .SETcalendar{
        position: absolute;
        top: 20%;
        right: 0%;
    }
    .SETcalendar svg{
        margin-left: -150%;
        margin-top: -50%;
        height:0%;
        width: 300%;
    }

    .SETi input {
        border:1px solid #0A7273;
        background-color: white;
        border-radius: 10px;
        box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;
    }
    .SETi input:focus{
        outline: none;
    }
    @keyframes slideleft4{
        from {
            transform: translateX(400px);
        }
        to{
            transform: translateX(0px);
        }
    }
    @keyframes slideleft41{
        from {
            transform: translateX(150%);
        }
        to{
            transform: translateX(0);
        }
    }
    .SETdiv1{
        animation: slideleft41 1.5s ease forwards;
    }
    .SETdiv2{
        animation: slideleft41 2s ease forwards; 
    }
    .SETdiv3{
        animation: slideleft41 2.5s ease forwards; 
    }