.nonnavbar1{
    
    width: 100%;
    background-color: white;
    border-radius: 5% 0% 0% 5%;
}
.hornav1{
    
    display: flex;
    height: 10%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: #0A7273;
    margin-top: 25px;
}
.hornav1 p{
    font-size: 40px;
    
}
.hornav1{
    animation: slideDown 1s ease forwards;
}
.sessions1{
    width: 30%;
    height: 100%;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 135%;
    

}
.sessions1 p{
    margin-top: 0;
}
.textpart12{
    display: flex;
    border: 1px solid black;
    padding: 0px 10px;
    align-items: center;
}
.textpart12 img{
    width: 50px;
    margin-left: 10px;
    border: 1px solid black;
}
.textpart12 {
    border: none;
    margin-bottom: 5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background-color: #0A7273 ;
    border-radius: 13px;
    box-shadow:  15px 15px 15px #d9d9d9,
             -7px -7px 15px #ffffff;
    color: white;
    height: 100%;
    width: 90%;
}
.imgdiv1 svg{
    padding-top: 5px;
   height:50px;
   width:70px;
}
.text1{
    display: flex;
    flex-direction: row;
}
.text1 svg{
    height:100%;
    width: 400%;

}
.date1{
  
    padding-right: 50px;
    position: relative;
}
.mainbody1{
    width: 75%;
    height: 9%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    
    justify-content: space-evenly;
    border-radius: 120px ;
    background-color: whitesmoke;
    color: #0A7273;
    box-shadow:  10px 10px 36px #bebebe,
    -10px -10px 36px #ffffff;
}

.mainbody1:hover{
    background-color: #0A7273;
    color:whitesmoke;
    /*justify-content: space-evenly;*/

}
.userdet1{
    height: 80%;
    display: flex;
   align-items: center;
   margin-left: 1%;
   border-right: 10px soild gainsboro;
}
.userdet1 p{
font-size: 25px;
padding-left: 10px;
}
.userdet1 svg{
    height: 50px;
    width: 40px;
    border-radius: 50%;
}
.ug1{text-align: center;
    font-size: 25px;
    width: 20%;
    margin-left: 1%;
    padding-left:5%;
    padding-right: 10%;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}
.ug1 p{
    width: 100%;
}
.history1 p{
    font-size: 25px;
    width: ;
}
.history1{
    padding-left:-150px;
}
.mainbody1{
    animation: slideup 1s ease forwards;
}
@keyframes slideup{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0%);
    }
}
