/* /* .body{

    display: flex;
    background-color:#0A7273;

} */

.DHnonnavbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    border-left: 290px solid #0A7273;
    border-radius:17% 0% 0% 17%;
    margin-left: 10%;
    z-index: 11000;

}
.DHhornav{
    
    display: flex;
    height: 10%;
    margin-left: 7.5%;
    margin-top: 1.5%;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    color: #0A7273;
    animation: slidedown 1s ease forwards;

}

/* .DHhornav .DH{
    font-size: 20px;
} */
.DHdates {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.DHhome .DH {
    margin-left:37.5%;
    font-size: 1.5rem;
    margin-top: 11px;
    color: #0A7273;
}
.DHdate {
    text-align: end;
    
}
.DHicon{
    margin-left: 10px;
}
.DHicon svg{
    height:50px;
   width:70px;
}

 .DHwelcome{
    background-color:aqua;
     width: 88%;
    height: 26%;
    margin-left: 9%;
    margin-right: auto;
    margin-top: 1.5%;
    border: 1px solid black;
    /* /background-image: url('../image/w50.jpg');/ */
    background-size: cover;
    background-position:bottom;
    position: relative;
    border: none;
    border-radius: 2%;

    display: flex;
    flex-direction:column;
    justify-content:space-around;
    
}

 .DHwelcome #DH{
    font-size: 1.5rem;
    margin-top: 3%;
    margin-left: 4%;
    color: black;
}


.DHnofi{
    width: 30%; 
    height: 45%;
    margin-left: 7%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   animation: slideup 1s ease ;
}
.DHnofi #DH{
font-size: 30px;
font-weight: 200px;
margin: 0;
}

.DHsessions{
    width: 100%;
    height: 20%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid whitesmoke;
    

}
.DHsessions #DH{
    margin-top: 0;
}

.DHtextpart1 {
    margin-bottom: 5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    border: 1px solid white;
    background-color: #0A7273 ;
    border-radius: 13px;
    box-shadow:  7px 7px 15px #d9d9d9,
            -7px -7px 15px #ffffff;
    color: white;
    height: 130%;
    width: 90%;
}
.DHtext{
    display: flex;
    flex-direction: row;
}
.DHtextpart1 .DHtextdiv .DH{
    font-size: 20px;
}

.DHtext svg{

   
    height:100%;
    width: 400%;

}

.DHimgdiv svg{
    padding-top: 5px;
height:50px;
width:70px;
}

.DHdashboard{
    width: 35%;
    height: 47%;

    margin-left: 53%;    
    margin-top: -2%;
    border: none;
    padding-bottom: 4%;
    margin-bottom: 50%;
position: absolute;
top: 48%;
animation: slideup 1s ease;


}
.DHdashboard table{
    background-color: white;
    border:none;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
}
.DHdashboard #DH{
    font-size: 20px;
    margin-bottom: 8%;
}

.dhtable{
    margin-top: 20%;
    width: 100%;
    border: 0.25px solid whitesmoke ;
    padding: 0;
    border-spacing: 0;
    margin-top: 0%;width:100%;margin-left:8%;
}
th{
    width: 33%;

}
th,td{
text-align: center;
padding-top:5% ;
padding-bottom: 5%;
font-size: 20px;
border: 2px solid whitesmoke;


}