.dsetnonnavbar{
    flex: 1;
    margin-left: 15%;
    width: 100%;
    background-color: white;
    border-radius:5% 0% 0% 5%;
    height: 100vh;
    width: 100vw;
    
}
.dsetheader p{
    font-size: 35px;

}
.dsetheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 10px; */
    height: 20%;
    color: #0A7273;
    width: 80%;
    margin-left: 17%;

}
#send{
    background-color: #0A7273;
    color:white;
    font-size: 25px;
    border:none;
    padding: 20px 0px;
}
.dsetdate{

    padding-right: 50px;
    position: relative;
}
.dsetcalendar{
    position: absolute;
    top: 20%;
    right: 0%;
}
.dsetcalendar img{
    width: 40px;
}
.dsetbody{
    width: 90%;
    height: 60%;
    margin-left: 200px;
    margin-right: auto;
    margin-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.dsetdiv1{
width: 85%;
height: 15%;
margin-left: 0px;
display: flex;
align-items: center;

background-color: whitesmoke;
border-radius: 10px;
box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;

             transform: translateX(150%);


}
.dsetdiv1 #dset{
    font-size: 20px;
    margin-left: 5%;
}
/* .div2{
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
border-radius: 10px;
box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;
             transform: translateX(150%);
    
    }
    .div2 p{
        font-size: 40px;
       margin-right:60%;
       
    }
.div2 input{
    width: 30px;
    height: 30px;
    accent-color: #0A7273;
} */


.dsetdiv3{
    width: 85%;
    height: 15%;
    display: flex;
    margin-left: 0px;
    margin-top: 5%;
    align-items: center;
    background-color: whitesmoke;
border-radius: 10px;
box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;
             transform: translateX(150%);
    
    }
    .dsetdiv3 #dset{
        font-size: 20px;
        margin-left: 5%;
    }
    #dset a{
        text-decoration: none;
        color: black;
      }
      a{
        text-decoration: none;
        color: black;
      }

      .dsetheading {
        display: flex;
        flex-direction: row;
        width: 75%;
        align-items: center;
        margin-top: 7%;
      }
    
      .dsetheading svg {
        height: 100%;
        width: 5%;
      }
    
      .dsetcalendar{
        position: absolute;
        top: 20%;
        right: 0%;
    }
    .dsetcalendar svg{
        margin-left: -150%;
        margin-top: -50%;
        height:0%;
        width: 400%;
    }

    .dseti input {
        border:1px solid #0A7273;
        background-color: white;
        border-radius: 10px;
        box-shadow:  10px 10px 20px #bebebe,
             -23px -23px 36px #ffffff;
        margin-bottom: 0;
        margin-left: 2px;
    }
    .dseti input:focus{
        outline: none;
    }
    #send{
        height: 20px;
        border-radius: 10px;
        font-size: 20px;
        height: 20px;
        width: 50%;
        padding-top: 0;
        margin-top: 0;
    }
    @keyframes slideleft8{
        from {
            transform: translateX(400px);
        }
        to{
            transform: translateX(0px);
        }
    }
    @keyframes slideleft81{
        from {
            transform: translateX(150%);
        }
        to{
            transform: translateX(0);
        }
    }
    .dsetdiv1{
        animation: slideleft81 1.5s ease forwards;
    }
    .dsetdiv2{
        animation: slideleft81 2s ease forwards; 
    }
    .dsetdiv3{
        animation: slideleft81 2.5s ease forwards; 
    }