.docele{
    list-style-type: none;
    display: inline;

    font-size: large;
    cursor: pointer;
    font-size: 23px;
    }

.docvernav{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-top: 2%;
    height: 100%;
    border-right: 1px solid black;
    position: fixed;
    overflow: auto;
    background:linear-gradient(90deg,#0A7273,#0A7273);
    
    border:none;
    overflow: hidden;
    
}

.Dul{
    display: flex;
    flex-direction: column;
}

.docuserdetail {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 0%;  
 }

 .docuserdetail img{
    height:50px;
    border-radius: 50%;
}

.docnavbar{
    margin-top: 35%;
    padding-left: 1%;
        padding-right: 1%;
 }

 .docuserdetail .doctextpart{
    color:snow;
    font-size: 20px;
    padding-left: 15px;
}

.docnavbar img{
    width: 17%;
    float: left;
}
.docele{
    display: flex;
    align-items: center;
    padding: 10% 0 0 10%;
    /*padding-top: 0;
    border-right: 5px solid snow;*/
}
.docele a{
font-size: 18px;
padding-left: 2%;
text-decoration: none;
color: snow;

}
.dociiit{
    margin-top: 50%;
}

.doclogo{
    margin-left: 1%;
    margin-right: 1%; 

}
button{
    width: 70%;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    font-size: 18px;
    margin-left: 13%;
    font-size: larger;
    border:none;

}

.docvernav svg {
    height:auto;
    width:15%;
    float:left;
    color:snow;
}