.nonnavbar340{
    margin-left: 0%;
    width: 100%;
    background-color: white;
    border-radius: 5% 0% 0% 5%;
}
.hornav340{
    display: flex;
    height: 10%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: #0A7273;
    margin-top: 25px;
}
.hornav340 p{
    font-size: 40px;
}
.hornav340{
    animation: slideDown 1s ease forwards;
}
.sessions340{
    width: 30%;
    height: 100%;
    margin-top: 50px;
    margin-left:250px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 135%;
    

}
.sessions340 p{
    margin-top: 0;
}
.textpart1340{
    display: flex;
    border: 1px solid black;
    padding: 0px 10px;
    align-items: center;
}
.textpart1340 img{
    width: 50px;
    margin-left: 10px;
    border: 1px solid black;
}
.textpart1340 {
    border: none;
    margin-bottom: 5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background-color: #0A7273 ;
    border-radius: 13px;
    box-shadow:  15px 15px 15px #d9d9d9,
             -7px -7px 15px #ffffff;
    color: white;
    height: 100%;
    width: 90%;
}
.imgdiv340 svg{
    padding-top: 5px;
   height:50px;
   width:70px;
}
.text340{
    display: flex;
    flex-direction: row;
}
.text340 svg{
    height:100%;
    width: 400%;
}
.date340{
    padding-right: 50px;
    position: relative;
}
.mainbody1240{
    width: 90%;
    height: 9%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
   margin-left: 22%;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
    border-radius: 120px ;
    background-color: whitesmoke;
    color: #0A7273;
    box-shadow:  10px 10px 36px #bebebe,
    -10px -10px 36px #ffffff;
}

.mainbody1240:hover{
    background-color: #0A7273;
    color:whitesmoke;
    /*justify-content: space-evenly;*/

}
.subdiv:hover{
    background-color: #0A7273;
    color:whitesmoke;
}
.userdet1240{
    height: 100%;
    display: flex;
   align-items: center;
   margin-left: -5%;
   border-right: 10px soild gainsboro;
}
.userdet1240 p{
font-size: 25px;
padding-left: 10px;
}
.userdet1240 svg{
    height: 50px;
    width: 40px;
    border-radius: 50%;
}
.ug40{text-align: center;
    font-size: 25px;
    width: 40%;
    margin-left: 1%;
    padding-left:10%;
    padding-right: 10%;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}
.history40 p{
    font-size: 25px;
}